<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ACCEntryListGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ACCEntryListGenerator.Properties.Settings>
            <setting name="firstNameFieldAlias" serializeAs="String">
                <value />
            </setting>
            <setting name="lastNameFieldAlias" serializeAs="String">
                <value />
            </setting>
            <setting name="shortNameFieldAlias" serializeAs="String">
                <value />
            </setting>
            <setting name="categoryFieldAlias" serializeAs="String">
                <value />
            </setting>
            <setting name="playerIdFieldAlias" serializeAs="String">
                <value />
            </setting>
            <setting name="carModelFieldAlias" serializeAs="String">
                <value />
            </setting>
            <setting name="categoryPropertyPlatinumAlias" serializeAs="String">
                <value />
            </setting>
            <setting name="categoryPropertyGoldAlias" serializeAs="String">
                <value />
            </setting>
            <setting name="categoryPropertySilverAlias" serializeAs="String">
                <value />
            </setting>
            <setting name="categoryPropertyBronzeAlias" serializeAs="String">
                <value />
            </setting>
        </ACCEntryListGenerator.Properties.Settings>
    </userSettings>
</configuration>